<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentUUID</key>
	<string>F45942CD-D159-4ECF-BC06-715EEFC2B173</string>
	<key>fileFormatVersion</key>
	<string>14.2.2</string>
	<key>hasExternalReferenceOrMissingOrUnmaterializedRemoteData</key>
	<false/>
	<key>isMultiPage</key>
	<true/>
	<key>privateUUID</key>
	<string>2B5F89BF-7CE7-4AD2-A881-EBF20350013D</string>
	<key>revision</key>
	<string>0::1E3C4774-80FF-4C8D-90D1-3632DB994761</string>
	<key>shareUUID</key>
	<string>F45942CD-D159-4ECF-BC06-715EEFC2B173</string>
	<key>stableDocumentUUID</key>
	<string>F45942CD-D159-4ECF-BC06-715EEFC2B173</string>
	<key>versionUUID</key>
	<string>1E3C4774-80FF-4C8D-90D1-3632DB994761</string>
</dict>
</plist>
